<!DOCTYPE html>
<html>
<head>
	{{>head}}
</head>
<body>
	{{>nav}}
	<!-- Contact section -->
	<section class="contact-section">
		<div class="container ">
			<div class="row">
				<div class="col-md-12 d-flex flex-column align-items-center text-center">
					<h3 class = "align-items-start">Kontaktirajte nas</h3>
					<p>Aleksandra Medvedeva 20</p>
					<p>018/123-456</p>
					<p>info@vtsnis.edu.rs</p>
					<form class="contact-form">
						<input type="text" placeholder="Ime">
						<input type="text" placeholder="E-mail">
						<input type="text" placeholder="Naslov">
						<textarea placeholder="Sadržaj"></textarea>
						<button class="site-btn">POŠALJI</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact section end -->


<div class="custom-space col-md-12 d-flex flex-column align-items-center text-center">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d725.568364352433!2d21.88972439449362!3d43.32946650599389!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4755b736a0858e2b%3A0xb6c8bdf48775d64e!2z0JLQuNGB0L7QutCwINGC0LXRhdC90LjRh9C60LAg0YjQutC-0LvQsCDQndC40Yg!5e0!3m2!1sen!2srs!4v1609785403140!5m2!1sen!2srs" width="1500" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>

    {{>footer}}



    {{>scripts}}

	</body>
</html>
